.book {
  line-height: 1.5em;
  font-weight: 400;
  xcolor:#002b36;
  margin-top: 100px;
  padding-top: 0px;
  z-index:0;
  font-size: 21px;
}

@media (max-width:748px) {
  .book {
    margin-top: 68px;
  }
}

.book .chapter {
  display: block;
  width:50px;
  text-align:right;
  font-weight: 700;
  margin-left:-75px;
  float:left;
  font-size:25px;
  color:#586e75;
}

.book title {
  xdisplay: none;
  xmargin-bottom:10px;
  xfont-size:.75em;
  xfont-weight:400;
  xcolor:#b58900;
  xfont-style:italic;
}

.book divineName {
  font-variant: small-caps;
}

.book note {
  display: none;
}

.book .x-end-paragraph {
  margin-bottom:9px;
}

.book .x-end-paragraph:after {
  xcontent:"\a\a";
  xwhite-space: pre;
}

.book .q:before {
  content: "\""
}

.book .q:after {
  content: ""
}
