<link rel="stylesheet" ng-href="/static/css/themes/default.css"/>


<div class="book container">
	<div infinite-scroll='text.addPage()' infinite-scroll-disabled='text.busy' infinite-scroll-distance='1'>
		<div ng-repeat='item in text.items' class="{{module.font}}" ng-class="{'text-right': module.text=='right'}">
			<span class="chapter" ng-if="item.chapter != 1">{{item.chapter}}</span>
			<span class="text" ng-bind-html="item.text"></span>
		</div>
		<div class="loading" ng-show='text.busy'>
			Loading..
		</div>
	</div>
</div>
