<header headroom tolerance="5" offset="50" classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp","top":"headroom--top","notTop":"headroom--not-top"}' class="navbar navbar-default xnavbar-fixed-top">
  <div class="container">
    <a class="navbar-item navbar-item-left" href="#/book" xng-class="{active: page=='book'}">
      <span class="glyphicon glyphicon-menu-hamburger" style="color:#b58900"></span>
    </a>

    <div style="left:0px;right:0px;position:absolute">
      <div class="book-title">
        <a href="#/book" style="text-decoration:none;color:rgba(0,0,0,.87);font-weight:700">OPEN BIBLE</a>
      </div>
    </div>
  </div>
</header>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>A modern Bible designed for reading and exploring.</h1>
      </div>
    </div>
  </div>
</div>

<div class="container" style="text-align:center;xmargin-top:25px;margin-bottom:50px">
  <div class="row">

    <div class="col-sm-6" style="margin-bottom:50px;">
      <p style="text-align:center;color:#586e75;font-family:'Noto Sans'"><strong>Read</strong></p>
      <p>
        Open Bible was built to read like a book. Choose a theme to match your lighting and enjoy longform reading without hurting your eyes. The typography was carefully selected to provide the optimal reading experience.
      </p>
    </div>
    <div class="col-sm-6" style="margin-bottom:50px;">
      <p style="text-align:center;color:#586e75;font-family:'Noto Sans'"><strong>Explore</strong></p>
      <p>
        Explore the land of the Bible and show events on a map.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="margin-bottom:50px;">
      <p style="text-align:center;color:#586e75;font-family:'Noto Sans'"><strong>Open Source</strong></p>
      <p>
        Built on the modules provided by Sword Project.
      </p>
    </div>
    <div class="col-sm-6" style="margin-bottom:50px;">
      <p style="text-align:center;color:#586e75;font-family:'Noto Sans'"><strong>Contribute</strong></p>
      <p>
        Open Bible is open source, which means you can take a look under the hood and contribute.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="padding-bottom:50px">
      <p style="text-align:center;color:#586e75;font-family:'Noto Sans'"><strong>Help</strong></p>
      <p>
        Open Bible is designed by <a href="http://jontayesp.github.io">Jonathan Esposito</a>.
      </p>
    </div>
    <div class="col-sm-6" style="padding-bottom:50px">
      <p style="text-align:center;color:#586e75;font-family:'Noto Sans'"><strong>About</strong></p>
      <p>
        Contribute with <a href="http://github.com/openbible/openbible">GitHub</a> or support with <a href="http://gratipay.com/jontayesp">Gratipay</a>. Thanks!
      </p>
    </div>
  </div>
</div>
