<header headroom tolerance="5" offset="50" classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp","top":"headroom--top","notTop":"headroom--not-top"}' class="navbar navbar-default xnavbar-fixed-top">
  <div class="container">
    <div style="left:0px;right:0px;position:absolute">
      <div class="book-title">
        OPEN BIBLE
      </div>
    </div>

    <a class="navbar-item navbar-item-left focus" href="javascript:void(0)" data-template="/static/partials/navigation.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
  </div>
</header>

<div class="jumbotron">
  <div class="container">
    <h1>An open Bible designed for reading</h1>
    <a href="#/book" class="btn btn-primary btn-lg btn-jumbo">OPEN BIBLE</a>
  </div>
</div>

<div class="section-social">
  <div class="container">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://openbible.io" data-text="Open Bible: An open Bible designed for reading." data-via="openbibleapp" data-size="large" data-hashtags="openbible">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="https://twitter.com/openbibleapp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @openbibleapp</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>

<div class="section-about">
  <div class="container">
    <div class="row">
      <h4 style="margin-bottom:75px;">Designed for reading and exploring</h4>
      <div class="col-sm-6" style="margin-bottom:75px;">
        <p>
          Open Bible was created to read like a book. Choose a theme to match your lighting and enjoy reading without hurting your eyes.
        </p>
      </div>
      <div class="col-sm-6" style="margin-bottom:75px;">
        <p>
          Explore the land of the Bible and show events on a map for each book of the Bible.
        </p>
      </div>
    </div>

    <div class="row">
      <h4 style="margin-bottom:75px;">Built by Developers, for Developers</h4>
      <div class="col-sm-6" style="margin-bottom:75px;">
        <p>
          Built on the modules provided by Sword Project.
        </p>
      </div>

      <div class="col-sm-6" style="margin-bottom:75px;">
        <p>
          Open Bible is open source, which means you can take a look under the hood and contribute.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="padding-bottom:50px">
        <h4>About</h4>
        <p>
          Open Bible was designed by <a href="http://jontayesp.github.io">Jonathan Esposito</a>
        </p>
      </div>
      <div class="col-sm-6" style="padding-bottom:50px">
        <h4>Help</h4>
        <p>
          Contribute with <a href="http://github.com/openbible/openbible">GitHub</a><br/>
          Support with <a href="http://gratipay.com/jontayesp">Gratipay</a>
        </p>
      </div>
    </div>
  </div>
</div>
