<header headroom tolerance="5" offset="50" classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp","top":"headroom--top","notTop":"headroom--not-top"}' class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div style="left:0px;right:0px;position:absolute">
      <div class="book-title">
        {{book.title.substring(0, 3)|uppercase}} &nbsp; {{module.title}}
      </div>
    </div>


    <a class="navbar-item navbar-item-left" href="#/book" ng-class="{active: page=='book'}">
      <span class="glyphicon glyphicon-book"></span>
    </a>


    <a class="navbar-item navbar-item-left" href="#/map" ng-class="{active: page=='map'}">
      <span class="glyphicon glyphicon-globe"></span>
    </a>

    <a class="navbar-item navbar-item-right" href="javascript:void(0)">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </div>
</header>
