<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Open Bible</title>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='white'>
    <meta name='description' content='An open Bible designed for reading.'>
    <meta name='author' content='Open Bible'>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-sanitize.min.js'></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

    <script src='/static/components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>

    <script src='/static/vendor/headroom/headroom.js'></script>
    <link rel='stylesheet' href='/static/css/animations.css'>

    <script src='/static/js/app.js'></script>
    <script src='/static/js/book.js'></script>
    <script src='/static/js/map.js'></script>

    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/css/angular-motion.min.css">

    <link rel='stylesheet' href='/static/css/fonts.css'>
    <link rel='stylesheet' href='/static/css/main.css'>
  </head>

  <body ng-app='app' ng-controller='AppCtrl'>
    <nav id="menu" style="z-index:0;background:#fafafa">
      <a href="javascript:void(0)" ng-click="setBook(b)" ng-repeat="b in books" style="text-align:center;display:block;padding-top:10px;font-size:25px;font-weight:700;color:#777">
        {{b.title}}
      </a>
    </nav>

    <main id="panel" style="background:#fff;z-index:99999">
      <header xheadroom tolerance="5" offset="50" classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp","top":"headroom--top","notTop":"headroom--not-top"}' class="navbar navbar-default navbar-fixed-top" style="top:0px;margin-top:0px;padding-top:0px">
        <div class="container">
          <div class="navbar-header pull-left">
            <a class="navbar-brand" href="javascript:slideout.toggle()">{{book.title}}</a>
          </div>

          <div class="navbar-header pull-right">
            <a class="navbar-brand" href="javascript:slideout.toggle()"><span class="glyphicon glyphicon-cog"></span></a>
          </div>
        </div>
      </header>
      <div class="ng-view"></div>
    </main>
  </body>
  <script src="/static/components/slideout/dist/slideout.min.js"></script>
  <script>
    var slideout = new Slideout({
      'panel': document.getElementById('panel'),
      'menu': document.getElementById('menu'),
      'padding': 256,
      'tolerance': 70,
      'duration': 300
    });
  </script>
</html>
